.fab-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

.fab {
    width: 60px;
    height: 60px;
    background-color: #ff5733;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 36px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.fab:hover {
    background-color: #e04c2e;
}

.fab-container.expanded .fab {
    transform: rotate(45deg);
}

.form-container {
    position: absolute;
    bottom: 80px;
    right: 0;
    width: 300px;
    max-height: 400px; /* Smaller height */
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s, visibility 0.3s;
    overflow-y: auto;
}

.form-container h2 {
    font-size: 20px; /* Smaller font size */
    margin-bottom: 10px; /* Smaller margin */
}

.form-container input,
.form-container textarea {
    width: 95%;
    padding: 8px; /* Smaller padding */
    margin-bottom: 8px; /* Smaller margin */
    border: none;
    border-radius: 5px;
}

.form-container button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5733;
    color: #fff;
    font-size: 14px; /* Smaller font size */
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-container button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

.form-container button:hover:not(:disabled) {
    background-color: #e04c2e;
}

.form-toggle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Smaller margin */
    border-bottom: 2px solid #ff5733; /* Border to create a tab-like look */
}

.form-toggle button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 5px 5px 0 0; /* Rounded corners on top */
    background-color: #444;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-toggle button.active {
    background-color: #ff5733;
}

.form-toggle button:hover {
    background-color: #e04c2e;
}

.dropdown {
    margin-bottom: 8px; /* Smaller margin */
}

.dropdown select {
    width: 100%;
    padding: 8px; /* Smaller padding */
    border: none;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

.tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px; /* Smaller margin */
}

.tag {
    background-color: #555;
    color: #ddd;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 3px;
    margin: 3px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
}

.tag:hover {
    background-color: #e04c2e;
}

.clear-button {
    margin-top: 5px;
    background-color: #999;
}

.clear-button:hover {
    background-color: #777;
}
