.add-actor {
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    align-items: center;
}

.add-actor h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.add-actor input, .add-actor textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.add-actor button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ff5733;
    color: #fff;
    font-size: 16px;
}
